
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fa" dir="rtl" ng-app class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="description" content="سامانه یکپارچه فرهنگی مهر">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>
        سامانه مهر:
        مسابقه پیامکی ویژه هفته دفاع مقدس
    </title>
    <style>
        header {
            top:0;
        }
        body {
            background-image: url('../../img/5706a67d-2c55-4d12-9254-1dedb4d6b0da.jpg');
        }
        .nav1{
            background-color:blue;
            position:fixed;
            width:100%;
            top:99px;
            font-size:small;
            
        }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:blue;
    }
    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: darkblue;
    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    .logoimg {
        position:fixed;
        top:1%;
        right:1%;
    }
    .firsth {
        position:fixed;
        top:1%;
        right:7%;
        color:	rgb(24, 164, 13);
    }
    .ptext{
    border-style: solid;
    border-width: thin;
    border-color:white;
    background-color:white;
    padding-right: 50px;
    padding-left: 80px;
    height:300px;
    }
    footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    border-top: 4px solid white;
    background-color: lightgrey;
    }
    a:hover{
        text-decoration:none;
    }
    .news{
        margin-top:10px;
    border: 1px solid lightblue;
    border-top:4px dotted blue;
    background-color: lightblue;
    padding: 10px 30px 50px 80px;
    margin-bottom:50px;
    }
    .news-details{
        border-bottom: 1px solid white;
        margin-bottom: 5px;
    }
    .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
    .navbar {min-height:32px !important}
    .lastpart{
        border:1px solid white;
        background-color:white;
        height: 200px;
        line-height:25px;
        margin:50px 5px 50px 5px;
        padding-right:20px;
    }
    .secdiv {
        bottom:180px;
    }

    </style>
</head>

<body>
    <div> 
        <img src="~/img/60038_1920_1080.jpg" style="width:100%;position:fixed" />
        <img class="logoimg" src="~/img/11.png" />
        <div class="firsth">
            <h2>دانشگاه ارومیه</h2>
            <h4>معاونت فرهنگی و اجتماعی</h4>
        </div>

    </div>
    <div>
        <nav class="navbar nav1">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://mehr.urmia.ac.ir/feed">
                            <span class="glyphicon glyphicon-menu-hamburger" data-placement="bottom" title="خوراک RSS/Atom"></span>
                        </a>                    </li>
                    <li><a href="http://mehr.urmia.ac.ir/signup">ورود <span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a href="http://mehr.urmia.ac.ir/login">ثبت نام <span class="glyphicon glyphicon-log-in"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a data-placement="bottom" class="icons" href="http://mehr.urmia.ac.ir/entity/180">مدیریت فرهنگی و اجتماعی دانشکده ها تربیت بدنی و علوم ورزشی </a></li>
                    <li><a data-placement="bottom" class="icons" href="http://mehr.urmia.ac.ir/entity/173">معاونت فرهنگی و اجتماعی |</a></li>
                    <li><a title="آغازه سامانه مهر" data-placement="bottom" class="icons" href="http://mehr.urmia.ac.ir">  معاونت فرهنگی و اجتماعی |</a></li>
                    <li><a title="خروج از سامانه مهر" data-placement="bottom" class="icons" href="http://www.urmia.ac.ir/">دانشگاه ارومیه |</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div style="text-align:center; ">
            <div>
                <div class="sections">
                    <div class="section-title">
                        <div>
                            <img src="~/img/defae-moghadas3-21.jpg" />
                        </div>
                        <h3>معاونت فرهنگی و اجتماعی</h3>
                        <h2>مدیریت فرهنگی و اجتماعی دانشکده های تربیت بدنی و علوم ورزشی</h2>
                        <div class="countdown-box">
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <img style="float:right" src="~/img/images.png" />
        <div class="ptext">
            <h3 class="col-md-9">مسابقه پیامکی ویژه هفته دفاع مقدس</h3>
            <div><span class="col-md-9"> ارسال شده در  تاریخ 	۹۶/۰۷/۰۵  </span></div>
            <br />
            <br />
            <br />
            <br />
            <p style="line-height:200%;" class="col-md-9">
                به اطلاع دانشگاهیان گرامی اعم از اساتید،کارکنان و دانشجویان میرساند مدیریت فرهنگی دانشکده علوم ورزشی در نظر دارد به مناسبت هفته دفاع مقدس مسابقه پیامکی با همین عنوان و از طریق سامانه مدیریت فرهنگی و اجتماعی "مهر" در دانشگاه ارومیه برگزار نماید.

                علاقمندان جهت شرکت در این مسابقه می توانند در تاریخ 5ام مهرماه لغایت 9ام مهرماه نسبت به مطالعه جزوه پیوستی اقدام نموده و روز دوشنبه 10ام مهرماه در ساعت فرهنگی از ساعت 10 الی 12 نسبت به ارسال پاسخ سوالات مسابقه (که همان ساعت از طریق لینک ذیل در دسترس خواهد بود) به صورت مختصر با درج شماره سوال و گزینه صحیح ، به همراه نام و نام خانوادگی و دانشجویان عزیز صرفاً شماره دانشجویی به سیستم پیامک انبوه معاونت فرهنگی و اجتماعی دانشگاه به شماره 210000032778270 اقدام نمایند.

                .شایان ذکر است به شرکت کنندگانی که موفق به ارائه پاسخ صحیح به 70% سوالات شوند گواهی آموزشی از سوی معاونت فرهنگی و اجتماعی دانشگاه صادر و به 3نفر اول این مسابقات علاوه بر صدور گواهی جوایزی نیز از سوی معاونت فرهنگی و اجتماعی اهداء خواهد شد
            </p>

        </div>
        <div class="news">
            <div class="block-header"><h2>تازه‌ترین خبرها</h2></div>

                <a href="http://mehr.urmia.ac.ir/entity/180/news/501">
                            <div style="font-size:16px;"><b>مدیریت فرهنگی دانشکده علوم ورزشی برگزار می کند: مسابقه پیامکی آشنایی با برخی از عملیات های دفاع مقدس</b></div>
                        </a>
                        <div class="news-details">
                            به اطلاع دانشگاهیان گرامی اعم از اساتید،کارکنان و دانشجویان میرساند مدیریت فرهنگی دانشکده علوم ورزشی در نظر دارد به مناسبت هفته دفاع مقدس مسابقه پیامک…
                            
                                <p> <span class="glyphicon glyphicon-time"></span> 1 هفته پیش <span class="glyphicon glyphicon-tag"></span> اجتماعی </p>

                        </div>

                        <div>

                            <a href="http://mehr.urmia.ac.ir/entity/180/news/502">
                                <div style="font-size:16px;"><b>سوالات مسابقه پیامکی ویژه هفته دفاع مقدس اعلام شد</b></div>
                            </a>
                            <div class="news-details">
                                قابل توجه اساتید، کارکنان و دانشجویان عزیز&nbsp;
                                سوالات مسابقه پیامکی "آشنایی با برخی از عملیات های دفاع مقدس" امروز 10ام مهرماه، از ساعت 1…

                                <p> <span class="glyphicon glyphicon-time"></span> 2 هفته پیش <span class="glyphicon glyphicon-tag"></span> اجتماعی </p>

                            </div>
                        </div>


                        <div>

                                <a href="http://mehr.urmia.ac.ir/entity/180/news/504">
                                    <div style="font-size:16px;"><b>فرصت شرکت در مسابقه پیامکی ویژه هفته دفاع مقدس یکساعت تمدید شد</b></div>
                                </a>
                                <div class="news-details">
                                    فرصت شرکت در مسابقه پیامکی ویژه هفته دفاع مقدس یکساعت تمدید و تا ساعت 13 ادامه دارد.
                                    علاقمندان جهت شرکت در این مسابقه به لینک ذیل مراجعه نمایند.

                                    …
                                    <p> <span class="glyphicon glyphicon-time"></span> 2 هفته پیش <span class="glyphicon glyphicon-tag"></span> اجتماعی </p>

                </div>
            </div>
            </div>
        @*last part*@
        <div class="lastpart">
            <div class="col-md-12">
                @*right*@
            <h4>کلیات</h4>
            <p>وضعیت :    برنامه مصوب (approval)</p>
            <p>نوع :    مسابقه ی پیامکی</p>
            <p>موضوع :    اجتماعی</p>
            <p>مخاطبان بالقوه :    همه</p>
        </div>

        <div class="col-md-6 secdiv">@*left*@
            <h4>برگزاری</h4>
            <p>آغاز :    1396/07/05 08:00</p>
            <p>پایان :     1396/07/10 12:00</p>
            <p>زمان : گذشته</p>
            <p>مکان برگزاری :    از طریق سامانه پیامک انبوه</p>
        </div>
        </div>

        <footer class="footer" style="text-align:center;">
            <div>
                <a href="http://www.ahurait.com" >
                        سامانه اتوماسیون فرهنگی مهر محصولی از         شرکت مهندسی مهر هزاره اهورا    
                </a>
            </div>
        </footer>
    </div>
</body>


</html>
